<br/><br/>
<link rel="stylesheet" href="app.css"/>
<div class="container form-inline text-center">
    <div class="form-group">
        <label for="username">Name: </label>
        <input type="text" id="username" placeholder="Name" value="{{name}}" [(ngModel)]="employee.Name" class="form-control" required/>
        <label for="address">Address: </label>
        <input type="text" id="address" placeholder="Address" [(ngModel)]="employee.Address" class="form-control" required />
        <input class="btn btn-success" *ngIf="isAddButtonVisible" type="button" value="Add" (click)="onClick()"/>
        <input class="btn btn-success" *ngIf="!isAddButtonVisible" type="button" value="Update" (click)="updateChanges()" />
        &nbsp;
        <p class="{{text_decoration}} fade" [class.show]="showToolTip" id="tooltip">{{responseMsg}}</p>
    </div>
</div>



<div class="container form-inline text-center">
    <br /><br />
    <div class="text-right">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" (keyup)="searchTextChanged(searchText)">
            </div>
    </div>

    <br />

    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>
                    <b>#</b>
                </td>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>Address</b>
                </td>
                <td></td>
                <td>
                    <b>Edit/Delete</b>
                </td>
            </tr>


            <tr *ngFor="let emp of employees">
                <td>
                    {{emp.Id}}
                </td>
                <td>
                    <p *ngIf="!editToggleStatusForEmployee(emp)">{{emp.Name}}</p>
                    <input type="text" id="username" placeholder="Name" value="{{emp.Name}}" *ngIf="editToggleStatusForEmployee(emp)" [(ngModel)]="employee.Name" class="form-control" required />
                </td>
                <td>
                    <p *ngIf="!editToggleStatusForEmployee(emp)">{{emp.Address}}</p>
                    <input type="text" id="address" placeholder="Address" value="{{emp.Address}}" *ngIf="editToggleStatusForEmployee(emp)" [(ngModel)]="employee.Address" class="form-control" required />
                </td>
                <td>
                    <input class="btn btn-success" *ngIf="editToggleStatusForEmployee(emp)" type="button" value="Update" (click)="updateChanges()" />
                </td>
                <td>
                    <button class="btn" value="Edit" (click)="onEdit(emp)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;
                    <button class="btn btn-danger" value="Delete" (click)="onDelete(emp)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </td>
            </tr>
        </table>
    </div>
</div>